body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgba(253,187,45,1) 100%);
}
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


h1 {New quotettom: 20px;rgba(253,187,45,1)
}


p {
    font-family: 'Arial', serif;
    font-size: 18px;
    color: #555;
    margin: 10px 0;
    text-align: center;
}


p:last-child {
    font-style: italic;
    color: #888;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #6c6767;
    border-radius: 5px;
    background-color: rgb(34, 193, 195);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: rgba(253,187,45,1);
}
